<div>
    <h2> Gestione Attivita Sportive </h2><button class="btn-success" ng-click="add()">Nuova</button>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Azione</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sport in sports">
            <td>
                <input type="text" ng-model="sport.name" ng-disabled="!sport.isEditing">
            </td>
            <td>
                <input type="text" ng-model="sport.price" ng-disabled="!sport.isEditing">
            </td>
            <td>
                <button ng-show="!sport.isEditing" ng-click="sport.isEditing = true">Edit</button>
                <button ng-show="!sport.isEditing" ng-click="delete(sport)">Delete</button>
                <button ng-show="sport.isEditing" ng-click="save(sport)">Save</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>