<div class="uk-section uk-padding">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <h3 class="uk-article-title">{{clients.length}} Clienti</h3>
        </div>
        <div class="uk-navbar-center">

        </div>
        <div class="uk-navbar-right">
            <input ng-model="search" type="text" class="uk-input uk-form-width-small uk-margin-small-right" placeholder="Filtra...">
            <button type="submit" class="uk-button uk-button-secondary uk-margin-small-right" ng-click="addClient()"><span uk-icon="icon: plus"></span></button>
            <button type="submit" class="uk-button uk-button-primary uk-margin-small-right">Esporta</button>
        </div>
    </nav>

    <form name="myForm" novalidate>
        <table class="uk-table uk-table-small uk-table-hover uk-table-divider">
            <thead>
            <tr>
                <th ng-click="sortColumn('id')">id</th>
                <th ng-click="sortColumn('nome')">nome</th>
                <th ng-click="sortColumn('cognome')">cognome</th>
                <th ng-click="sortColumn('email')">email</th>
                <th ng-click="sortColumn('phone')">cellulare</th>
                <th ng-click="sortColumn('dateOfBirth')">data di nascita</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="client in clients | filter: search | orderBy:column:reverse" ng-class="{'warning': client.isAlert, 'danger' : client.isExpired}" ui-sref="subscription({clientId: client.id})">
                <td>{{client.id}}</td>
                <td>
                    <span ng-show="!client.isEditing">{{client.name}}</span>
                    <input ng-model="client.name" ng-show="client.isEditing" class="uk-input" required/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.surname}}</span>
                    <input ng-model="client.surname" ng-show="client.isEditing" class="uk-input" required/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.email}}</span>
                    <input ng-model="client.email" ng-show="client.isEditing" class="uk-input"/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.phone}}</span>
                    <input ng-model="client.phone" ng-show="client.isEditing" class="uk-input"/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.dateOfBirth}}</span>
                    <input ng-model="client.dateOfBirth" ng-show="client.isEditing" class="uk-input" required/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.note}}</span>
                    <input ng-model="client.note" ng-show="client.isEditing" class="uk-input"/>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div ng-include="'modals/registration.html'" ng-controller="RegistrationController"></div>