<div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-first-column">
        <div class="uk-card uk-card-body">
            <div class="uk-child-width-expand@s" uk-grid>

                <!-- Img -->
                <div class="uk-width-1-5@m">
                    <img id="img" class="profile-img" alt="" uk-img>
                    <div class="js-upload uk-padding" uk-form-custom>
                        <input id="file" class="inputfile" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                        <button class="uk-button uk-button-primary" type="button" tabindex="-1">Carica Foto</button>
                    </div>
                </div>

                <!-- Dati Profilo -->
                <div>
                    <h3 class="uk-card-title"> {{client.name}} {{client.surname}} <a class="uk-icon-button uk-button-primary" ng-click="edit()" uk-icon="pencil"></a>  <a class="uk-icon-button uk-button-danger" ng-click="delete()" uk-icon="close"></a> </h3>
                    <p>
                        <span ng-if="client.gender"> <strong> {{client.gender}} </strong> | </span>
                        {{client.age}} anni |
                        <span ng-if="client.phone">{{client.phone}} | </span>
                        <span ng-if="client.email"> {{client.email}} | </span>
                        <span ng-if="lastSubscription"> {{lastSubscription.product.name}} | </span>
                        <span ng-if="lastSubscription"> {{lastSubscription.product.maxEntrance}} ingressi settimanali | </span>
                    </p>

                    <div ng-show="isExpired(client.expirationDate)" class="uk-alert-danger" uk-alert>
                        <p>
                            Abbonamento scaduto il: {{client.expirationDate | date: 'dd-MM-yyyy'}}!
                        </p>
                    </div>

                    <div ng-show="isExpired(client.certificateExpirationDate)" class="uk-alert-danger" uk-alert>
                        <p>
                            Certificato medico scaduto il: {{client.certificateExpirationDate | date: 'dd-MM-yyyy'}}!
                        </p>
                    </div>

                    <button class="uk-button uk-button-primary uk-margin-small-right" ng-class="{'uk-alert-warning': isAlert(client.expirationDate), 'uk-alert-danger' : isExpired(client.expirationDate)}"
                            type="button" uk-toggle="target: #purchase">Nuovo Prodotto</button>
                    <button class="uk-button uk-button-secondary uk-margin-small-right" ng-class="{'uk-button-default': isAlert(client.certificateExpirationDate), 'uk-button-danger' : isExpired(client.certificateExpirationDate)}"
                            type="button" uk-toggle="target: #certificate">Certificato</button>
                    <button ng-click="openEntrance(client)" class="uk-button uk-button-secondary uk-margin-small-right" type="button">Ingresso</button>
                </div>
            </div>

            <!-- Sezione Dati Profilo -->
            <div class="uk-child-width-expand@s" uk-grid>
                <div class="uk-first-column">

                    <!-- Entrance Section -->
                    <div>
                        <span class="uk-badge uk-margin-small-right">{{entrances['weekly'].length}}</span> <strong class="uk-margin-small-right"> Ingressi questa settimana </strong>
                        <span ng-show="isEntrancesLimitReached(lastSubscription)" class="uk-margin uk-alert-danger"> {{maxEntranceMsg}} </span>

                        <!-- Tabs -->
                        <div>
                            <ul class="uk-child-width-expand" uk-tab>
                                <li ng-class="{'uk-active': isActiveTab('weekly')}" ng-click="selectTab('weekly')"><a>Questa Settimana</a></li>
                                <li ng-class="{'uk-active': isActiveTab('old')}" ng-click="selectTab('old')"><a>Passati</a></li>
                                <li ng-class="{'uk-active': isActiveTab('deleted')}" ng-click="selectTab('deleted')"><a>Cancellati</a></li>
                            </ul>
                        </div>

                        <!-- Table -->
                        <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-table-middle">
                            <tbody>
                            <tr ng-repeat="row in entrances[activeTab]">
                                <td>{{row.date | date : 'dd MMM yyyy'}}</td>
                                <td>{{row.product.description}}</td>
                                <td class="uk-text-right"><button class="uk-button uk-button-small uk-button-danger" type="button" ng-click="deleteEntrance(row)">Rimuovi</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Purchase Section -->
                    <div>
                        <span class="uk-badge uk-margin-small-right">{{purchasesCount}}</span> <strong class="uk-margin-small-right"> Prodotti acquistati </strong>

                        <!-- Tabs -->
                        <div>
                            <ul class="uk-child-width-expand" uk-tab>
                                <li ng-class="{'uk-active': isActiveProductTab('sport')}" ng-click="selectProductTab('sport')"><a>Sport</a></li>
                                <li ng-class="{'uk-active': isActiveProductTab('merchandise')}" ng-click="selectProductTab('merchandise')"><a>Merchandise</a></li>
                                <li ng-class="{'uk-active': isActiveProductTab('other')}" ng-click="selectProductTab('other')"><a>Altro</a></li>
                            </ul>
                        </div>

                        <!-- Table -->
                        <table class="uk-table uk-table-small uk-table-hover uk-table-divider">
                            <tbody>
                            <tr ng-repeat="row in purchases[activeProductTab]">
                                <td>{{row.date | date : 'dd MMM yyyy'}}</td>
                                <td>{{row.product.description}}</td>
                                <td>{{row.product.price | number: 2}} Euro</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div ng-include="'modals/client-registration'" ng-controller="ClientRegistrationController"></div>
<div ng-include="'modals/client-delete'" ng-controller="ClientDeleteController"></div>

<!-- Purchase Modal -->
<div id="purchase" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Aggiungi nuovo prodotto</h2>

        <form name="form" novalidate class="uk-form-stacked">

            <div class="uk-margin" uk-grid>

                <!-- Product -->
                <div class="uk-width-1-2@l">
                    <label class="uk-form-label" for="sport"> Scegli Prodotto </label>
                    <select id="sport" class="uk-select" ng-model="purchase.product">
                        <option ng-repeat="product in products" ng-value="product"> {{product.name}}</option>
                    </select>
                </div>

                <!-- Duration -->
                <div class="uk-width-1-2@l">
                    <label class="uk-form-label" for="duration"> Duarata </label>
                    <input id="duration" ng-model="purchase.product.duration" class="uk-input uk-form-width-large" type="number" step=".01" disabled/>
                </div>
            </div>

            <div class="uk-margin" uk-grid>

                <!-- Date -->
                <div class="uk-width-1-3@l">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="from">Data </label>
                        <input id="from" ng-model="purchase.date" class="uk-input uk-form-width-large" type="date"
                               min="{{lastSubscription.date | date: 'yyyy-MM-dd'}}" onkeydown="return false" required/>
                    </div>
                </div>

                <!-- Price -->
                <div class="uk-width-1-3@l">
                    <label class="uk-form-label" for="total">Totale Dovuto </label>
                    <input id="total" ng-model="purchase.product.price" class="uk-input uk-form-width-large" type="number" step=".01" disabled required/>
                </div>

            </div>

        </form>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancella</button>
            <button class="uk-button uk-button-primary uk-modal-close" type="button" ng-click="addPurchase(purchase)" ng-disabled="!form.$valid">Aggiungi</button>
        </p>
    </div>
</div>

<!-- Certificate Modal -->
<div id="certificate" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Rinnovo Certificato</h2>
        <p>* Conservare copia del certificato medico</p>

        <form>

            <!-- Date -->
            <div class="uk-margin">
                <label class="uk-form-label" for="certificateDate">Data di scadenza: </label>
                <input id="certificateDate" ng-model="certificateDate" class="uk-input uk-form-width-large" type="date" onkeydown="return false" required/>
            </div>

        </form>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary uk-modal-close" type="button" ng-click="addCertificate(client)">Save</button>
        </p>
    </div>
</div>

<!-- Ingresso Modal -->
<div id="ingresso" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Ingresso</h2>

        <p>Sei sicuro di voler confermare l'ingresso dell'utente ?</p>

        <p class="uk-text-right">
            <button class="uk-button uk-button-danger uk-modal-close" type="button">Cancella</button>
            <button class="uk-button uk-button-primary uk-modal-close" type="button" ng-click="addEntrance(client, lastSubscription.product)">Conferma</button>
        </p>
    </div>
</div>
