<form name="myForm" novalidate>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th ng-click="sortColumn('nome')">nome</th>
            <th ng-click="sortColumn('cognome')">cognome</th>
            <th ng-click="sortColumn('sport')">sport</th>
            <th ng-click="sortColumn('expirationDate')">abbonamento</th>
            <th ng-click="sortColumn('expirationCertificateDate')">certificato</th>
            <th ng-click="sortColumn('email')">email</th>
            <th ng-click="sortColumn('phone')">cellulare</th>
            <th ng-click="sortColumn('cf')">CF</th>
            <th ng-click="sortColumn('dateOfBirth')">Data</th>
            <th ng-click="sortColumn('birthPlace')">Luogo</th>
            <th>Note</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in clients | filter: search | orderBy:column:reverse" ng-class="{'warning': client.isAlert, 'danger' : client.isExpired}">
                <td>{{client.id}}</td>
                <td>
                    <span ng-show="!client.isEditing">{{client.name}}</span>
                    <input ng-model="client.name" ng-show="client.isEditing" class="form-control" required/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.surname}}</span>
                    <input ng-model="client.surname" ng-show="client.isEditing" class="form-control" required/>
                </td>
                <td>{{client.sport}}</td>
                <td>{{client.expirationDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{client.certificateExpirationDate | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <span ng-show="!client.isEditing">{{client.email}}</span>
                    <input ng-model="client.email" ng-show="client.isEditing" class="form-control"/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.phone}}</span>
                    <input ng-model="client.phone" ng-show="client.isEditing" class="form-control"/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.cf}}</span>
                    <input ng-model="client.cf" ng-show="client.isEditing" class="form-control"/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.dateOfBirth}}</span>
                    <input ng-model="client.dateOfBirth" ng-show="client.isEditing" class="form-control" required/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.birthPlace}}</span>
                    <input ng-model="client.birthPlace" ng-show="client.isEditing" class="form-control" required/>
                </td>
                <td>
                    <span ng-show="!client.isEditing">{{client.note}}</span>
                    <input ng-model="client.note" ng-show="client.isEditing" class="form-control"/>
                </td>
                <td>
                    <button ng-show="!client.isEditing" ng-click="edit(client)" ng-disabled="isEditingDisabled" class="btn btn-sm btn-info">Edit</button>
                    <button ng-show="client.isEditing" ng-click="updateClient(client)" class="btn btn-sm btn-success" type="submit" ng-disabled="!myForm.$valid" >Save</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>