<div class="uk-section uk-padding">

    <!-- Navbar-->
    <nav class="uk-navbar-container uk-padding-small" uk-navbar>
        <div class="uk-navbar-left">
            <span class="uk-badge uk-margin-small-right">{{courses.length}}</span> <strong> Corsi </strong>
        </div>
        <div class="uk-navbar-center">

        </div>
        <div class="uk-navbar-right">
            <input ng-model="search" ng-change="updateSearch()" type="date" class="uk-input uk-form-width-small uk-margin-small-right" placeholder="Filtra...">

            <button ng-show="user.admin" ng-click="downloadTemplate()" type="submit" class="uk-button uk-button-secondary uk-margin-small-right">
                <span uk-icon="icon: cloud-download">
                </span>
            </button>

            <button ng-show="user.admin" type="submit" class="uk-button uk-button-primary uk-margin-small-right" style="position: relative">
                <span uk-icon="icon: plus">
                    <input type="file" name="file" fileread="myFile" style="opacity: 0; width: 100%; height: 100%; position: absolute;  right: 0;  top: 0;" />
                </span>
            </button>

            <button ng-show="myFile" ng-click="uploadFile(myFile)" class="uk-button uk-button-success">
                Carica
            </button>
        </div>
    </nav>

    <!-- Products Table -->
    <table class="uk-table uk-table-small uk-table-hover uk-table-divider">
        <thead>
        <tr>
            <th>Data</th>
            <th>Orario</th>
            <th>Fine</th>
            <th>Sport</th>
            <th>Prenotazioni</th>
            <th>Limite Ingressi</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="course in courses | orderBy: 'course.startTime'" ng-click="courseDetails(course)">
            <td>
                <span> {{course.date | date: 'dd-MM-yyyy'}} </span>
            </td>
            <td>
                <span> {{course.startTime | date: 'HH:mm': 'UTC'}} </span>
            </td>
            <td>
                <span> {{course.finishTime | date: 'HH:mm': 'UTC'}} </span>
            </td>
            <td>
                <span> {{course.sport}} </span>
            </td>
            <td>
                <span> {{course.clients.length}} </span>
            </td>
            <td>
                <span> {{course.prenotationMax}} </span>
            </td>
            <td>
                <button ng-hide="alreadyReserved(course) || course.clients.length >= course.prenotationMax" ng-click="reserve(course)" class="uk-button uk-button-small uk-button-primary">
                    Prenota
                </button>
                <button ng-show="alreadyReserved(course)" ng-click="cancelReservation(course)" class="uk-button uk-button-small uk-button-danger">
                    Annulla
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Details Modal -->
<div ng-include="'modals/courses-details.html'"></div>
