<div class="uk-section uk-padding">

    <!-- Navbar-->
    <nav class="uk-navbar-container uk-padding-small" uk-navbar>
        <div class="uk-navbar-left">
            <span class="uk-badge uk-margin-small-right">{{courses.length}}</span> <strong> Corsi </strong>
        </div>
        <div class="uk-navbar-center">

        </div>
        <div class="uk-navbar-right">
            <input ng-model="search" ng-change="updateSearch()" type="date" class="uk-input uk-form-width-small uk-margin-small-right" placeholder="Filtra...">
        </div>
    </nav>

    <!-- Products Table -->
    <table class="uk-table uk-table-small uk-table-hover uk-table-divider">
        <thead>
        <tr>
            <th>Data</th>
            <th>Orario</th>
            <th>Fine</th>
            <th>Sport</th>
            <th>Prenotazioni</th>
            <th>Limite Ingressi</th>
            <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="course in courses | orderBy: 'course.startTime'" ng-click="courseDetails(course)" href="#course-details" uk-toggle>
            <td>
                <span> {{course.date}} </span>
            </td>
            <td>
                <span> {{course.startTime | date: 'hh:mm'}} </span>
            </td>
            <td>
                <span> {{course.finishTime | date: 'hh:mm'}} </span>
            </td>
            <td>
                <span> {{course.sport}} </span>
            </td>
            <td>
                <span> {{course.prenotation}} </span>
            </td>
            <td>
                <span> {{course.prenotationMax}} </span>
            </td>
            <td>
                <button ng-hide="prenotato(course) || course.prenotation >= course.prenotationMax" ng-click="prenota(course)" class="uk-button uk-button-primary">
                    Prenota
                </button>
                <button ng-show="prenotato(course)" ng-click="annullaPrenotazione(course)" class="uk-button uk-button-primary">
                    Annulla Prenotazione
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- This is the modal -->
<div id="course-details" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">{{selectedCourse.sport}}  {{selectedCourse.startTime | date: 'hh:mm'}}</h2>
        <ul>
            <li ng-repeat="user in selectedCourse.users">{{user.cf}}</li>
        </ul>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Ok</button>
        </p>
    </div>
</div>
