<nav class="uk-navbar" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" ui-sref="home">Palestra in Cloud</a>

        <ul class="uk-navbar-nav">
            <li ng-class="{'uk-active': isActive('clientsList')}" ng-click="click('clientsList')"><a ui-sref="clientsList"> Clienti </a></li>
            <li ng-class="{'uk-active': isActive('products')}" ng-click="click('products')"><a ui-sref="products"> Prodotti </a></li>
            <li ng-class="{'uk-active': isActive('courses')}" ng-click="click('courses')"><a ui-sref="courses"> Corsi </a></li>
            <li ng-class="{'uk-active': isActive('purchases')}" ng-click="click('purchases')"><a ui-sref="purchases"> Contabilita </a></li>
            <li ng-class="{'uk-active': isActive('statistics')}" ng-click="click('statistics')"><a ui-sref="statistics"> Statistiche </a></li>
        </ul>

    </div>

    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input ng-model="search" type="text" class="uk-input uk-form-width-small" placeholder="Id Cliente">
                <button type="submit" class="uk-button uk-button-secondary" ui-sref="client({clientId: search})">Apri Scheda</button>
            </form>
        </div>
    </div>
</nav>
<hr>
