<div class="uk-section">
    <div class="uk-child-width-expand@s" uk-grid>
        <div class="uk-first-column uk-text-center">
            <h3 class="uk-article-title">
                Il modo <strong>facile</strong> e <strong>veloce</strong> </br> di gestire il tuo centro.
            </h3>
            <button class="uk-button uk-button-primary uk-margin-small-right" type="button" ng-click="addAccount()">Crea il tuo account</button>
        </div>
    </div>
</div>

<!-- Section Why -->
<div class="uk-section uk-text-center" style="background-color: #f8f9fa">
    <h3 class="uk-article-title">Perché Palestra in Cloud?</h3>

    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Tempo</h3>
                <p>Non sprecare il tuo tempo prezioso tra scartoffie! Impiegalo invece per ciò che conta veramente: i tuoi clienti. Con Palestra in Cloud puoi guadagnare fino ad 8 ore alla settimana.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Ricavi</h3>
                <p>Semplifica la vendita dei tuoi abbonamenti e massimizza l’occupazione delle tue sale. Grazie alle statistiche ed ai report, inoltre, potrai ottimizzare la gestione della tua attività e così aumentare i tuoi profitti.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Sicrezza</h3>
                <p>Il nostro software è completamente gratuito, provarlo non costa nulla. Anche i tuoi dati sono al sicuro con noi. E se dovessi avere delle domande, il nostro servizio clienti sarà ben lieto di aiutarti.</p>
            </div>
        </div>
    </div>
</div>

<!-- Section Why -->
<div class="uk-section uk-text-center">
    <h3 class="uk-article-title">Funzionalità</h3>
    <p class="uk-article">Scopri <strong>velocemente</strong> le funzionalità principali.</p>
</div>