<div class="uk-section uk-padding">

    <!-- Navbar-->
    <nav class="uk-navbar-container uk-padding-small" uk-navbar>
        <div class="uk-navbar-left">
            <span class="uk-badge uk-margin-small-right">{{products.length}}</span> <strong> Prodotti </strong>
        </div>
        <div class="uk-navbar-center">

        </div>
        <div class="uk-navbar-right">
            <input ng-model="search" type="text" class="uk-input uk-form-width-small uk-margin-small-right" placeholder="Cerca...">
            <button type="submit" class="uk-button uk-button-primary uk-margin-small-right" ng-click="addProduct()">
                <span uk-icon="icon: plus"></span>
            </button>
            <button type="submit" class="uk-button uk-button-secondary uk-margin-small-right">
                <span uk-icon="icon: cloud-download"></span>
            </button>
        </div>
    </nav>

    <!-- Products Table -->
    <table class="uk-table uk-table-small uk-table-hover uk-table-divider">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Prezzo Mensile</th>
            <th>Tipologia</th>
            <th>Limite Ingressi</th>
            <th>Durata</th>
            <th>Numero di vendite</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products | filter: search">
            <td ng-click="addProduct(product)">
                <a class="uk-link-heading"><span> {{product.name}} </span></a>
            </td>
            <td>
                <span> {{product.description}} </span>
            </td>
            <td>
                <span> {{product.price | number: 2}} </span>
            </td>
            <td>
                <span> {{product.type}} </span>
            </td>
            <td class="uk-text-center">
                <span> {{product.maxEntrance}} </span>
            </td>
            <td class="uk-text-center">
                <span> {{product.duration}} </span>
            </td>
            <td class="uk-text-center">
                <span> {{product.purchases.length}} </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-include="'modals/productaddedit.html'"></div>
