<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <form name="form" novalidate class="form-validation">
                <!-- Nome -->
                <div class="form-group">
                    <span> Nome </span>
                    <input ng-model="client.name" name="name" class="form-control" type="text" required/>
                </div>

                <!-- Cognome -->
                <div class="form-group">
                    <span> Cognome </span>
                    <input ng-model="client.surname" class="form-control" type="text" required/>
                </div>

                <!-- CF -->
                <div class="form-group">
                    <span> Codice Fiscale </span>
                    <input ng-model="client.cf" class="form-control" type="text" ng-minlength="16" ng-maxlength="16" ng-pattern="" required/>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <span> Email </span>
                    <input ng-model="client.email" class="form-control" type="email"/>
                </div>

                <!-- Cellulare -->
                <div class="form-group">
                    <span> Cellulare </span>
                    <input ng-model="client.phone" class="form-control" type="number" ng-minlength="10" ng-maxlength="10" required/>
                </div>

                <!-- Data di Nascita -->
                <div class="form-group">
                    <span> Data di nascita </span>
                    <input ng-model="client.dateOfBirth" class="form-control" type="date" required/>
                </div>

                <!-- Luogo Di Nascita -->
                <div class="form-group">
                    <span> Luogo di nascita </span>
                    <input ng-model="client.birthPlace" class="form-control" type="text" required/>
                </div>

                <!-- Registra Cliente-->
                <div class="nav justify-content-center">
                    <button class="btn btn-danger" type="submit" ng-click="save(client)" disabled="{{form.$error}}"> Registra Cliente </button>
                </div>
            </form>
        </div>
    </div>
</div>