<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <form name="myForm" novalidate class="uk-form-stacked">

        <!-- Data -->
        <div class="uk-margin">
            <label class="uk-form-label" for="date">Data</label>
            <input id="date" ng-model="transaction.date" class="uk-input uk-form-width-large" type="date" required/>
        </div>

        <!-- Importo -->
        <div class="uk-margin">
            <label class="uk-form-label" for="price"> Importo </label>
            <input id="price" ng-model="transaction.price" class="uk-input uk-form-width-large" type="text" required/>
        </div>

        <!-- Descrizione -->
        <div class="uk-margin">
            <label class="uk-form-label" for="description"> Descrizione </label>
            <input id="description" ng-model="transaction.description" class="uk-input uk-form-width-large" type="text" required/>
        </div>

        <!-- Registra Cliente-->
        <div class="uk-margin">
            <button class="uk-button uk-button-default" type="submit" ng-click="save(transaction)" ng-disabled="!myForm.$valid"> Salva </button>
        </div>

    </form>
</div>