<div class="uk-child-width-1-2@s uk-grid-match uk-padding" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <h3 class="uk-card-title">Vendite per Prodotto</h3>
            <canvas id="purchases"></canvas>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <h3 class="uk-card-title">Ingressi Per Sport</h3>
            <canvas id="entrances"></canvas>
        </div>
    </div>
</div>