<!-- Sezione Immagine Profilo -->
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div class="uk-width-1-6@m"></div>
    <div class="uk-width-2-3@m uk-card uk-card-default uk-card-body">
        <img id="img" class="profile-img" alt="" uk-img>

        <h3 class="uk-card-title"> {{client.name}} {{client.surname}}</h3>

        <p>TIpologia di Abbonamento: {{client.sport}}</p>

        <!-- Tab -->
        <ul uk-tab>
            <li ng-class="{'tab-active': isHome}"><a ng-click="isHome = true">Home</a></li>
            <li ng-class="{'tab-active': !isHome}"><a ng-click="isHome = false">Ingressi</a></li>
        </ul>

        <!-- Sezione Dati Profilo -->
        <div ng-show="isHome">

            <!-- Abbonamento -->
            <div ng-class="{'uk-alert-success': !isExpired(client.expirationDate), 'uk-alert-danger': isExpired(client.expirationDate)}" uk-alert>
                <p>Data di scadenza abbonamento: {{client.expirationDate}}</p>
            </div>

            <!-- Certificato -->
            <div ng-class="{'uk-alert-success': !isExpired(client.certificateExpirationDate), 'uk-alert-danger': isExpired(client.certificateExpirationDate)}" ng-click="rinnova('#certificate')" uk-alert>
                <p>Data di scadenza certificato medico: {{client.certificateExpirationDate}}</p>
            </div>

            <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #subscription">Abbonamento</button>
            <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #certificate">Certificato</button>
            <div class="js-upload" uk-form-custom>
                <input id="file" class="inputfile" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                <button class="uk-button uk-button-primary" type="button" tabindex="-1">Carica Foto</button>
            </div>

        </div>

        <!-- Entrances -->
        <div ng-show="!isHome">

            <!-- Tabella Ingressi -->
            <table class="uk-table uk-table-hover uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-text-center">Data</th>
                    <th class="uk-text-center">Azioni</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in entrances">
                    <td>{{row.date}}</td>
                    <td><button class="uk-button uk-button-danger" type="button">Rimuovi</button></td>
                </tr>
                </tbody>
            </table>

            <!-- Ingresso -->
            <p class="uk-margin">
                <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #ingresso">Ingresso</button>
            </p>
        </div>
    </div>
</div>


<!-- Subscription Modal -->
<div id="subscription" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Rinnovo Abbonamento</h2>
        <p>...</p>

        <form>
            <!-- Durata -->
            <div class="form-group">
                <span class="my-label"> Durata: </span>
                <select class="custom-select  my-input" ng-model="subscription.durata"
                        ng-change="changeFromDate(subscription.fromDate)">
                    <option ng-repeat="month in months" ng-value="month.value"> {{month.description}}</option>
                </select>
            </div>

            <!-- From -->
            <div class="form-group text-center">
                <span class="my-label"> Data di partenza: </span>
                <input ng-model="subscription.fromDate" ng-change="changeFromDate(subscription.fromDate)"
                       class="form-control" type="date" required/>
            </div>

            <div class="form-group">
                <span class="my-label"> Data di fine: </span>
                <span class="form-control"> {{subscription.toDate | date: 'dd/MM/yyyy'}} </span>
            </div>

            <!-- Sport -->
            <div class="form-group">
                <span class="my-label"> Attivita </span>
                <select class="custom-select  my-input" ng-model="subscription.sport">
                    <option ng-repeat="sport in sports" ng-value="sport"> {{sport.name}}</option>
                </select>
            </div>

        </form>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" ng-click="save(subscription)">Save</button>
        </p>
    </div>
</div>

<!-- Certificate Modal -->
<div id="certificate" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Rinnovo Certificato</h2>
        <p>...</p>

        <form>

            <!-- Date -->
            <div class="form-group text-center">
                <span class="my-label"> Data di scadenza: </span>
                <input ng-model="client.certificateExpirationDate" class="form-control" type="date" required/>
            </div>

        </form>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" ng-click="saveClient(client)">Save</button>
        </p>
    </div>
</div>

<!-- Ingresso Modal -->
<div id="ingresso" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Ingresso</h2>

        <p>Sei sicuro di voler confermare l'ingresso dell'utente ?</p>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancella</button>
            <button class="uk-button uk-button-primary" type="button" ng-click="confermaIngresso(client)">Conferma</button>
        </p>
    </div>
</div>