body {
  font-family: "Courier";
}

.form-validation {
  text-align: center;
}

.form-validation input.ng-invalid.ng-touched {
  border-color: #FA787E;
}

.form-validation input.ng-valid.ng-touched {
  border-color: #78FA89;
}

.text-danger {
  color: #FA787E;
}

.text-alert {
  color: #faebcc;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}