body {
  font-family: "Courier";
}

.my-input {
  border: hidden;
  border-radius: 0;
  border-bottom: grey solid 2px;
  color: black;
  font-size: 18px;
}

.my-label {
  color: grey;
  font-size: 14px;
  padding: 6px 12px;
}

.my-navbar {

}

.form-validation {
  text-align: center;
}

.form-validation input.ng-invalid.ng-touched {
  border-color: #FA787E;
}

.form-validation input.ng-valid.ng-touched {
  border-color: #78FA89;
}