<div id="client-registration" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Nuovo Cliente</h2>

        <form name="myForm" novalidate class="uk-form-stacked">

            <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                <!-- Sx -->
                <div>
                    <!-- Nome -->
                    <div class="uk-margin">
                        <label class="uk-form-label" for="name">Nome</label>
                        <input id="name" ng-model="client.name" name="name" class="uk-input uk-form-width-large" ng-class="{'uk-form-danger': myForm.name.$touched && !myForm.name.$valid}" type="text" required/>
                    </div>

                    <!-- Luogo Di Nascita -->
                    <div class="uk-margin">
                        <label class="uk-form-label" for="birthPlace"> Luogo di nascita </label>
                        <input id="birthPlace" ng-model="client.birthPlace" name="birthPlace" class="uk-input uk-form-width-large" type="text" ng-class="{'uk-form-danger': myForm.birthPlace.$touched && !myForm.birthPlace.$valid}" required/>
                    </div>

                    <!-- Email -->
                    <div class="uk-margin">
                        <label class="uk-form-label" for="email"> Email </label>
                        <input id="email" ng-model="client.email" name class="uk-input uk-form-width-large" ng-class="{'uk-form-danger': myForm.email.$touched && !myForm.email.$valid}" type="email" required/>
                    </div>

                    <!-- Password -->
                    <div class="uk-margin">
                        <label class="uk-form-label" for="password"> Password </label>
                        <input id="password" ng-model="client.password" name="password" class="uk-input uk-form-width-large" ng-class="{'uk-form-danger': myForm.password.$touched && !myForm.password.$valid}" type="password" autocomplete="off" required/>
                    </div>

                    <!-- Sesso -->
                    <div class="uk-margin">
                        <label class="uk-form-label">Sesso</label>
                        <label>
                            <input class="uk-checkbox" type="radio" name="radio2" checked> M
                        </label>
                        <label>
                            <input class="uk-checkbox" type="radio" name="radio2"> F
                        </label>
                    </div>

                </div>

                <!-- Dx -->
                <div>
                    <!-- Cognome -->
                    <div class="uk-margin">
                        <label class="uk-form-label" for="surname"> Cognome </label>
                        <input id="surname" ng-model="client.surname" name="surname" class="uk-input uk-form-width-large" type="text" ng-class="{'uk-form-danger': myForm.surname.$touched && !myForm.surname.$valid}" required/>
                    </div>

                    <!-- Data di Nascita -->
                    <div class="uk-margin">
                        <label class="uk-form-label" for="dateOfBirth"> Data di nascita </label>
                        <input id="dateOfBirth" ng-model="client.dateOfBirth"  name="dateOfBirth" class="uk-input uk-form-width-large" type="date" ng-class="{'uk-form-danger': myForm.dateOfBirth.$touched && !myForm.dateOfBirth.$valid}" required/>
                    </div>

                    <!-- Cellulare -->
                    <div class="uk-margin">
                        <label class="uk-form-label" for="phone"> Cellulare </label>
                        <input id="phone" ng-model="client.phone" name="phone" class="uk-input uk-form-width-large" type="number"/>
                    </div>

                    <!-- CF -->
                    <div class="uk-margin">
                        <label class="uk-form-label" for="cf"> Codice Fiscale </label>
                        <input id="cf" ng-model="client.cf" name="cf" ng-change="client.cf=client.cf.toUpperCase();" class="uk-input uk-form-width-large" type="text"/>
                    </div>

                </div>

            </div>
        </form>


        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary uk-modal-close" type="button" ng-click="save(client)" ng-disabled="!myForm.$valid">Save</button>
        </p>
    </div>
</div>
